@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 1rem;
  padding: 0;
  box-sizing: inherit; }

body {
  text-align: center;
  font-size: 1rem; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #00252e; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  transition: all .2s; }
  .heading--animated {
    animation: moveInLeft .5s ease-out .75s;
    animation-fill-mode: backwards; }

.heading-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1.5rem; }

.paragraph--animated {
  animation: moveInRight .5s ease-out .75s;
  animation-fill-mode: backwards; }

.paragraph--content {
  margin: 0; }

.icon {
  margin: 0 .5rem;
  width: 2rem;
  height: 1.8rem; }

.value {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700; }

.detail {
  font-size: 1.2rem;
  opacity: .7; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem; }

.row {
  margin: 0 auto;
  max-width: 32rem; }

.col-1-of-2 {
  width: calc((100% - 2 * 6rem) / 2); }

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0; }

.value-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  text-align: center;
  width: 11rem; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 5rem;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  position: relative;
  background: #ff52bf;
  color: #f5faff;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.3);
  cursor: pointer;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.4); }

.btn:active {
  transform: translateY(0rem);
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.2); }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-secondary, .btn-secondary:link, .btn-secondary:visited {
  height: 1.5rem;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .2s; }

.btn-secondary:hover, .btn-secondary:visited {
  background: #ff52bf;
  color: #f5faff;
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.15);
  transform: translateY(-2px); }

.btn-secondary:active {
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.15);
  transform: translateY(0); }

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.feature-box {
  margin-bottom: 6rem; }

.wave--1 {
  background: rgba(0, 139, 139, 0.05);
  height: 55rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  clip-path: url(#wave-top1); }

.wave--2 {
  background: rgba(0, 139, 139, 0.05);
  height: 55rem;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  clip-path: url(#wave-top2); }

.feature-text {
  margin-top: 22rem;
  text-align: left;
  width: 33rem; }

.section-about {
  display: flex;
  flex-direction: column; }
  .section-about p {
    margin-bottom: 4rem; }

.section-mockups {
  margin-top: 5rem; }
  .section-mockups img {
    width: 80%; }

.section-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem; }

.section-features {
  margin-top: 8rem; }
  .section-features img {
    margin-top: 13.5rem;
    width: 32rem;
    height: 27rem; }
