*,
*::after,
*::before {
  margin: 1rem;
  padding: 0;
  box-sizing: inherit; }

body {
  text-align: center;
  font-size: 1rem; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #00252e; }

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem; }

.row {
  margin: 0 auto;
  max-width: 32rem; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  padding: 1.5rem 5rem;
  text-decoration: none;
  font-weight: 600;
  background: #ff52bf;
  color: #f5faff;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .2s; }

.btn-primary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.2); }
  .btn-primary:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-primary:active, .btn-primary:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem rgba(0, 37, 46, 0.2); }

.btn-secondary, .btn-secondary:link, .btn-secondary:visited {
  height: 1.5rem;
  padding: 0.25rem 1.5rem;
  text-decoration: none;
  color: #ff52bf;
  border: 1px solid #ff52bf;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .2s; }

.btn-secondary:hover, .btn-secondary:visited {
  background: #ff52bf;
  color: #f5faff;
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.15);
  transform: translateY(-2px); }

.btn-secondary:active {
  box-shadow: 0 1rem 2rem rgba(0, 37, 46, 0.15);
  transform: translateY(0); }

.section-about {
  display: flex;
  flex-direction: column; }
  .section-about p {
    margin-bottom: 4rem; }
