// MEDIA QUERY MANAGER
/*
  0 - 375px:      Mobile
  375 - 1440px:   Desktop
*/
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 600px) { @content };
  }
  @if $breakpoint == tab {
    @media only screen and (max-width: 900px) { @content };
  }
  @if $breakpoint == laptop {
    @media only screen and (max-width: 1300px) { @content };
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 1400px) { @content };
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 1750px) { @content };
  }
}