// Color
$color-primary: hsl(322, 100%, 66%);
$color-dark-cyan: hsl(192, 100%, 9%);
$color-pale-blue: hsl(207, 100%, 98%);
$color-electric-blue: hsl(228, 45%, 44%);
$color-white: white;

// Grid
$gutter-horizontal: 6rem;