.footer {
  background: url(/images/bg-footer-top-desktop.svg) top center no-repeat;
  background-size: 100vw;
  color: $color-pale-blue;
  display: inline-block;
  width: 100vw;
  height: 38rem;
  margin-left: calc(-50vw + 50%);
  margin-bottom: -40rem;
}

.footer-logo {
  margin-top: 0;
  filter: invert(100%) saturate(0%);
}

.info-footer {
  margin: 0;
  text-align: left;
  width: 30%;

  @include respond(tab) {
    width: 33%;
  }
}

.contact-block {
  margin-top: 2rem;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 0;

  img {
    margin: 0 0 1.5rem;
    width: 1.2rem;
    height: 1rem;
  }
}

.social-icons {
  margin-top: 2.5rem;
  margin-left: 0;
  padding-right: 10rem;

  @include respond(tab) {
    padding-right: 8rem;
  }

  i {
    margin: 0;
    margin-right: 1rem;
    color: $color-pale-blue;
    font-size: 2.1rem;
    transition: all .2s;

    &:hover {
      opacity: 0.5
    }
  }
}
