.footer {
  background: url(../images/bg-footer-top-desktop.svg) top center no-repeat;
  background-size: 100vw;
  color: $color-white;
  display: inline-block;
  width: 100vw;
  height: 38rem;
  margin-left: calc(-50vw + 50%);
  margin-bottom: -40rem;

  @include respond(mobile) {
    background: url(../images/bg-footer-top-mobile.svg) top center no-repeat;
    background-size: 100vw;
  }
}

.footer-logo {
  margin-top: 0;
}

.info-footer {
  margin: 0;
  text-align: left;
  width: 30%;

  &--contact {
    @include respond(mobile) {
      order: 1;
      margin-top: 8rem;
    }
  }

  @include respond(mobile) {
    width: 80% !important;
  }

  @include respond(tab) {
    width: 35%;
  }

  @include respond(laptop) {
    width: 33%;
  }
}

.contact-block {
  margin-top: 2rem;
}

.contact {
  display: flex;
  flex-direction: row;
  margin: 0;

  img {
    margin: 0 0 1.5rem;
    width: 1.2rem;
    height: 1rem;

    @include respond(mobile) {
      width: 1.5rem;
      height: 1.3rem;
    }
  }
}

.social-icons {
  margin-top: 2.5rem;
  margin-left: 0;
  padding-right: 10rem;

  @include respond(tab) {
    padding-right: 4rem !important;
  }

  @include respond(laptop) {
    padding-right: 8rem;
  }

  i {
    margin: 0;
    margin-right: 1rem;
    color: $color-pale-blue;
    font-size: 2.1rem;
    transition: all .2s;

    @include respond(mobile) {
      font-size: 2.5rem;
    }

    &:hover {
      opacity: 0.5
    }
  }
}
