.header {
  margin: 3rem 2rem 6rem 3.5rem;
  display: flex;
  justify-content: space-between;
  transition: all .2s;
  animation: fadeIn 0.3s ease-out 0.75s;
  animation-fill-mode: backwards;

  @include respond(mobile) {
    margin: 3rem 2rem 6rem 2rem;
  }
}

.logo {
  img {
    @include respond(mobile) {
      width: 8rem;
      height: 1.4rem;
    }
  }
}