.header {
  margin: 3rem 2rem 6rem 3.5rem;
  display: flex;
  justify-content: space-between;

  @include respond(mobile) {
    margin: 3rem 2rem 6rem 2rem;
  }
}

.logo {
  img {
    @include respond(mobile) {
      width: 8rem;
      height: 1.4rem;
    }
  }
}