.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 34rem;
  width: 100vw;
  margin: 0 auto;

  &__container {
    background-color: $color-pale-blue;

    @include respond(tab) {
      height: 36rem;
    }

    @include respond(big-desktop) {
      height: 40rem;
    }
  }
}

.feature-box {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.feature-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave--1 {
  height: 50rem;
  background: url(/images/bg-section-top-desktop-1.svg) top center no-repeat,
              url(/images//bg-section-bottom-desktop-1.svg) bottom center no-repeat;
  background-size: 100vw;

  @include respond(big-desktop) {
    height: 61rem;
  }
}

.wave--2 {
  height: 50rem;
  background: url(/images/bg-section-top-desktop-2.svg) top center no-repeat,
              url(/images//bg-section-bottom-desktop-2.svg) bottom center no-repeat;
  background-size: 100vw;

  @include respond(big-desktop) {
    height: 62rem;
  }
}

.feature-text {
  text-align: left;
  width: 33rem;
}