.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 34rem;
  width: 100vw;
  margin: 0 auto;

  @include respond(mobile) {
    flex-direction: column;
  }

  &__container {
    background-color: $color-pale-blue;

    &--top {
      @include respond(mobile) {
        transform: translateY(2rem);
      }
    }

    @include respond(mobile) {
      height: 30rem !important;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    @include respond(tab) {
      height: 21rem;
    }

    @include respond(laptop) {
      height: 30rem;
    }

    @include respond(big-desktop) {
      height: 38rem;
    }
  }
}

.feature-box {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.feature-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave--1 {
  height: 50rem;
  background: url(../images/bg-section-top-desktop-1.svg) top center no-repeat,
              url(../images//bg-section-bottom-desktop-1.svg) bottom center no-repeat;
  background-size: 100vw;

  @include respond(mobile) {
    background: url(../images/bg-section-top-mobile-1.svg) top center no-repeat,
                url(../images/bg-section-bottom-mobile-1.svg) bottom center no-repeat;
    background-size: 100vw;
    height: 48rem !important;
  }

  @include respond(tab) {
    height: 29.8rem;
  }

  @include respond(laptop) {
    height: 42rem;
  }

  @include respond(big-desktop) {
    height: 59rem;
  }
}

.wave--2 {
  height: 50rem;
  background: url(../images/bg-section-top-desktop-2.svg) top center no-repeat,
              url(../images//bg-section-bottom-desktop-2.svg) bottom center no-repeat;
  background-size: 100vw;

  @include respond(mobile) {
    background: url(../images/bg-section-top-mobile-2.svg) top center no-repeat,
                url(../images/bg-section-bottom-mobile-2.svg) bottom center no-repeat;
    background-size: 100vw;
    height: 50rem !important;
  }

  @include respond(tab) {
    height: 30rem;
  }

  @include respond(laptop) {
    height: 42rem;
  }

  @include respond(big-desktop) {
    height: 59rem;
  }
}

.feature-text {
  text-align: left;
  width: 33rem;

  &:nth-child(1),
  &:nth-child(3) {
    animation: moveInLeft 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &:nth-child(2) {
    animation: moveInRight 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  @include respond(mobile) {
    order: 1;
    width: 20rem !important;
    margin: 4rem 2rem;
    text-align: center;
  }
  
  @include respond(laptop) {
    width: 25rem;
  }
}