.form {
  display: flex;
  flex-direction: row;
  animation: fadeInDown 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  @include respond(mobile) {
    flex-direction: column;
  }

  &__input {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 2rem;
    padding: 8px;
    border-radius: 5px;
    border: none;
    transition: all .2s;

    &:focus {
      outline: none;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-primary;
    }

    &::-webkit-input-placeholder {
      opacity: 0.2;
    }

    @include respond(mobile) {
      font-size: 2rem !important;
      padding: 8px !important;
    }

    @include respond(tab) {
      font-size: 0.5rem;
      padding: 2px;
    }

    @include respond(laptop) {
      font-size: 1rem;
      padding: 6px;
    }
  }

  &__btn {
    border: none;
    border-radius: 5px;
    padding: 1rem 3rem;
    font-size: 1rem;
    margin: 0;
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: $color-primary;
    color: $color-pale-blue;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .2s;

    @include respond(mobile) {
      padding: 1rem 2rem !important;
      margin-left: 8rem;
      font-size: 1rem;
    }

    @include respond(tab) {
      padding: 1rem 2rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}