body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $color-dark-cyan;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  transition: all .2s;

  @include respond(mobile) {
    font-size: 1.5rem !important;
  }

  @include respond(tab) {
    font-size: 1.8rem;
  }

  @include respond(laptop) {
    font-size: 2.5rem;
  }

  &--animated {
    animation: moveInLeft .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin : 0;
  margin-bottom: 1.5rem;

  @include respond(tab) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.heading-tertiary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;

  &--footer {
    text-transform: uppercase;
    letter-spacing: .2rem;

    @include respond(mobile) {
      font-size: 2rem;
    }
  }
}

.paragraph {
  &--animated {
    animation: moveInRight .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  &--content {
    margin: 0;
  }

  &--footer {
    margin-top: 2rem;
    line-height: 1.5rem;
    color: $color-pale-blue;
    font-weight: 600;

    @include respond(mobile) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  &--contact {
    color: $color-pale-blue;
    margin: 0 1.5rem 0;

    @include respond(mobile) {
      font-size: 1rem;
    }
  }
}

.icon {
  margin: 0 .5rem;
  width: 2rem;
  height: 1.8rem;
}

.value {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;

  @include respond(mobile) {
    font-size: 4rem;
  }
}

.detail {
  font-size: 1.2rem;
  opacity: .7;

  @include respond(mobile) {
    font-size: 1.3rem;
  }
}