body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $color-dark-cyan;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  transition: all .2s;

  &--animated {
    animation: moveInLeft .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin : 0;
  margin-bottom: 1.5rem;
}

.heading-tertiary {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;

  &--footer {
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
}

.paragraph {
  &--animated {
    animation: moveInRight .5s ease-out .75s;
    animation-fill-mode: backwards;
  }

  &--content {
    margin: 0;
  }

  &--footer {
    margin-top: 2rem;
    line-height: 1.5rem;
    color: $color-pale-blue;
    font-weight: 600;
  }

  &--contact {
    color: $color-pale-blue;
    margin: 0 1.5rem 0;
  }
}

.icon {
  margin: 0 .5rem;
  width: 2rem;
  height: 1.8rem;
}

.value {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;
}

.detail {
  font-size: 1.2rem;
  opacity: .7;
}