.section-about {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 4rem;
  }
}

.section-mockups {
  margin-top: 5rem;

  img {
    width: 80%;
  }
}

.section-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}