.section-about {
  display: flex;
  flex-direction: column;

  @include respond(mobile) {
    margin: 0 2rem;
  }

  p {
    margin-bottom: 4rem;
    margin-top: 2rem;

    @include respond(mobile) {
      font-size: 0.8rem;
    }
  }
}

.section-mockups {
  margin-top: 5rem;
  animation: fadeIn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  img {
    width: 80%;
  }
}

.section-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;

  @include respond(mobile) {
    flex-direction: column;
    align-items: center;
  }
}

.section-features {
  margin-top: 8rem;

  img {
    margin-top: 2rem;
    width: 32rem;
    height: 26rem;
    animation: fadeIn 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    @include respond(laptop) {
      width: 25rem;
      height: 20rem;
    }

    @include respond(tab) {
      width: 16rem;
      height: 14rem;
    }
  }
}

.section-ready {
  margin-top: 8rem;
  margin-bottom: 8rem;

  h2 {
    animation: moveInRight 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;

    @include respond(mobile) {
      margin-bottom: 3rem;
    }
  }
}

.section-footer {
  background-color: $color-dark-cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: calc(100% - 89.5%) auto 0;
  padding-top: 8rem;
  padding-bottom: 12rem;

  @include respond(mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
}