.section-about {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 4rem;
  }
}

.section-mockups {
  margin-top: 5rem;
  animation: fadeIn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;

  img {
    width: 80%;
  }
}

.section-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.section-features {
  margin-top: 8rem;

  img {
    margin-top: 2rem;
    width: 34rem;
    height: 25rem;
  }
}

.section-ready {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.section-footer {
  background-color: $color-dark-cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: calc(100% - 89.5%) auto 0;
  padding-top: 8rem;
  padding-bottom: 12rem;
}