.section-about {
  display: flex;
  flex-direction: column;

  p {
    margin-bottom: 4rem;
  }
}

.section-mockups {
  margin-top: 5rem;

  img {
    width: 80%;
  }
}

.section-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
}

.section-features {
  margin-top: 8rem;

  img {
    margin-top: 13.5rem;
    width: 32rem;
    height: 27rem;
  }
}

.section-ready {
  margin-bottom: 4rem;
}

.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10rem;
}